* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #548687;
  text-align: center;
}

h1 {
  color: rgb(4, 3, 1);
  font-size: 5rem;
}

/* Name entry section */
.name-container {
  margin-top: 20px;
}

.name-container input {
  padding: 0.5rem;
  font-size: 1rem;
  margin: 5px;
  border-radius: 0.5rem;
  border: none;
}

.name-container button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: #191913;
  color: white;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

.container {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game {
  height: 60vmin;
  width: 60vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5vmin;
}

.box {
  height: 18vmin;
  width: 18vmin;
  border-radius: 1rem;
  border: none;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
  font-size: 8vmin;
  color: #b0413e;
  background-color: #ffffc7;
}

#reset-btn {
  padding: 1rem;
  font-size: 1.25rem;
  background-color: #191913;
  color: #fff;
  border-radius: 1rem;
  border: none;
  cursor: pointer;
}

#new-btn {
  padding: 3vmin;
  font-size: 3vmin;
  background-color: #191913;
  color: #fff;
  border-radius: 1rem;
  border: none;
}

#msg {
  color: #ffffc7;
  font-size: 5vmin;
}

.msg-container {
  height: 50vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.hide {
  display: none;
}
